<div class="panel">
    <div>
        <h2><span class="label label-default">{{idea.title}}</span></h2>
        <h5>Created: {{ idea.createdAt | date }}</h5>
        <button class="btn btn-primary" ng-show="!idea.approved" ng-click="approve()">Approve</button>

        <br>

        <h4><label class="label label-success" ng-show="idea.approved">Approved</label></h4>

        <br>

        <div>
            <div class="well">
                <h4>Created From: <span class="label label-default">{{ idea.email }}</span></h4>
                <h4>Beneficiary: <span class="label label-default">{{ idea.department }}</span></h4>
                <h4>Sector: <span class="label label-default">{{ idea.sector }}</span></h4>
                <h4>CrossCutting: </h4>
                    <ul ng-repeat="s in subSectors">
                        <li><h4><span class="label label-default">{{s.sector}}</span></h4></li>
                    </ul>
                <h4>Idea: <span class="label label-default">{{ idea.idea }}</span></h4>
                <h4>Outcomes: <span class="label label-default">{{ idea.outcomes }}</span></h4>
                <h4>Description: <span class="label label-default">{{ idea.projectDesc }}</span></h4>
                <h4>Estimated Budget: <span class="label label-default">{{ idea.estimatedBudget | currency }}</span></h4>
                <h4>Evaluation: <span class="label label-default">{{ idea.evaluation }}</span></h4>
            </div>
        </div>
    </div>
</div>