<div class="row">
    <div class="panel col-md-12">
        <h2><span class="label label-default hidden-print"> {{ideas.length}} Total Approved Ideas</span></h2>
        <a href="javascript:window.print()" class="btn primary large hidden-print col-md-1">Print All Ideas</a>
        <a href="/addIdea" class="btn primary large hidden-print col-md-offset-10 col-md-1">Add New Idea</a>
        <br>

        <div class="col-md-12">
            <label class="hidden-print">Search: </label> <input class="hidden-print" type="text" ng-model="search.title" class="no-print"/>
            <table class="table table-hover col-sm-12">
                <thead>
                <th>#</th>
                <th>Title</th>
                <th>Approved</th>
                <th>Created Date</th>
                </thead>
                <tbody>
                <tr ng-repeat="idea in ideas | filter: search">
                    <td>{{ $index + 1 }}</td>
                    <td><a href="/view2/{{idea.id}}">{{ idea.title }}</a></td>
                    <td>
                        <h4><span ng-show="idea.approved" class="label label-success">Approved</span></h4>
                        <h4><span ng-show="!idea.approved" class="label label-danger">Disapproved</span></h4>
                    </td>
                    <td>{{ idea.createdAt | date }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
