div(class='panel')
    // create Idea
    div(class='panel')
        h2
            span(class='label label-default') Add Idea
        form
            div(class='form-group')
                label(for='title') Title
                input(type='text', class='form-control', id='title', placeholder='Title', ng-model='newIdea.title')
            div(class='form-group')
                label(for='beneficiary') Beneficiary
                input(type='text', class='form-control', id='beneficiary', placeholder='Beneficiary', ng-model='newIdea.beneficiary')
            div(class='form-group')
                label(for='amount') Amount
                input(type='text', class='form-control', id='amount', placeholder='Amount', ng-model='newIdea.amount')
        button(type='submit', class='btn btn-primary', ng-click='save()') Add

        br
        hr

        div(class='panel')
            h2
                span(class='label label-default') {{ideas.length}} Total Ideas
            div(class='well') Search
                input(type='text', ng-model='search.title')
                table(class='table table-hover')
                    thead
                        th #
                        th Title
                        th Amount
                        th Beneficiary
                        th Approved/Dissaproved
                        th Created
                    tbody
                        tr(ng-repeat='idea in ideas | filter: search')
                            td {{ $index +1 }}
                            td
                                a(href='/view2/{{idea.id}}') {{ idea.title }}
                            td {{ idea.amount | currency }}
                            td {{ idea.beneficiary }}
                            td
                                h4
                                    span(ng-show='idea.approved', class='label label-success') Approved
                                    span(ng-show='!idea.approved', class='label label-danger') Disapproved
                            td {{ idea.createdAt | date }}



