<h1>Welcome to Grant Central</h1>
<h2>This Application is for the management of Grants within the College of
    the Marshall Islands. If you have a Grant Idea Please click <a href="/addIdea">HERE</a> to add it.</h2>
<h2>Kommol tata!</h2>