<html ng-app="myApp">
<head>
    <meta charset="utf-8"/>
    <base href="/"/>
    <title>Grant Central Application</title>
    <link rel="stylesheet" href="/maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/app.css" media="screen">
    <link rel="stylesheet" href="/css/print.css" media="print">
</head>