<html ng-app="myApp">
<head>
    <meta charset="utf-8"/>
    <base href="/"/>
    <title>Grant Central Application</title>
    <link rel="stylesheet" href="/maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in">Login</span></h1>

            <% if ( message.length > 0) { %>
                <div class="alert alert-danger">
                    <p><%= message %></p>
                </div>
            <% } %>

            <form action="/login" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username"/>

                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password"/>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                <br>
                <p><a href="'/">Home</a></p>
            </form>
        </div>
    </div>
</body>
</html>
